srv/pihole/etc-dnsmasq.d/01-pihole.conf
srv/pihole/etc-dnsmasq.d/02-pihole-dhcp.conf
srv/pihole/etc-dnsmasq.d/06-rfc6761.conf
srv/pihole/etc-pihole/custom.list
srv/pihole/etc-pihole/dhcp.leases
srv/pihole/etc-pihole/dns-servers.conf
srv/pihole/etc-pihole/GitHubVersions
srv/pihole/etc-pihole/gravity.db
srv/pihole/etc-pihole/localbranches
srv/pihole/etc-pihole/localversions
srv/pihole/etc-pihole/pihole-FTL.conf
srv/pihole/etc-pihole/pihole-FTL.db
srv/pihole/etc-pihole/setupVars.conf
srv/pihole/etc-pihole/setupVars.conf.update.bak
srv/pihole/etc-pihole/migration_backup/adlists.list
srv/pihole/inventory
srv/odoo/inventory
srv/odoo/ansible.cfg
srv/traefik/ansible.cfg
srv/traefik/inventory
srv/portainer/ansible.cfg
srv/portainer/inventory
windows/inventory
srv/inventory
linux/inventory
kubernetes/inventory
hosting/docker/inventory
hosting/windows/inventory
hosting/linux/LAMP/inventory
docker/inventory
.env
deployments/deployments/inventory
deployments/deployments/ansible.cfg
deployments/inventory
deployments/ansible.cfg
linux/roles/server_updates/tests/inventory
linux/roles/server_provisioning_devops/tests/inventory
linux/roles/server_management/tests/inventory
linux/roles/install_docker/tests/inventory
linux/roles/install_traefik/tests/inventory
linux/roles/ansible.cfg
linux/roles/inventory
kubernetes/roles/inventory
kubernetes/roles/kubernetes_cluster_install/tests/inventory
kubernetes/roles/kubernetes_cluster_uninstall/tests/inventory
kubernetes/roles/ansible.cfg
pipelines/Azure Devops/azure-pipelines.yml
pipelines/Azure Devops/azure-pipelines.release.yml
linux/roles/config_ssh/files/id_ed25519
linux/roles/config_ssh/files/id_ed25519.pub
