windows/inventory
srv/inventory
linux/inventory
kubernetes/inventory
hosting/docker/inventory
hosting/windows/inventory
hosting/linux/LAMP/inventory
docker/inventory
.env
deployments/deployments/inventory
deployments/deployments/ansible.cfg
deployments/inventory
deployments/ansible.cfg
linux/roles/server_updates/tests/inventory
linux/roles/server_provisioning_devops/tests/inventory
linux/roles/server_management/tests/inventory
linux/roles/install_docker/tests/inventory
linux/roles/install_traefik/tests/inventory
linux/roles/ansible.cfg
linux/roles/inventory
kubernetes/roles/inventory
kubernetes/roles/kubernetes_cluster_install/tests/inventory
kubernetes/roles/kubernetes_cluster_uninstall/tests/inventory
kubernetes/roles/ansible.cfg
pipelines/Azure Devops/azure-pipelines.yml
pipelines/Azure Devops/azure-pipelines.release.yml
linux/roles/config_github_ssh/files/id_ed25519
linux/roles/config_github_ssh/files/id_ed25519.pub
kubernetes/roles/agent_install/tests/inventory
kubernetes/roles/agent_uninstall/tests/inventory
kubernetes/ansible.cfg
kubernetes/roles/cluster_install/tests/inventory
linux/roles/create_vm/tests/inventory
kubernetes/roles/agent_master_install/tests/inventory
kubernetes/roles/agent_worker_install/tests/inventory
kubernetes/roles/cluster_config/tests/inventory
kubernetes/17a.yaml
proxmox/terraform.tfvars
proxmox/.terraform.lock.hcl
proxmox/.terraform/providers/registry.opentofu.org/telmate/proxmox/2.9.14/linux_amd64/terraform-provider-proxmox_v2.9.14
proxmox/.terraform/terraform.tfstate
proxmox/.terraform/modules/modules.json
pihole/terraform.tfvars
pihole/venv
pihole/ansible.cfg
install-opentofu.sh
pihole/inventory
node_exporter/inventory
linux/ops/inventory
kubernetes/roles/worker_install/tests/inventory
kubernetes/roles/server_provisioning/tests/inventory
kubernetes/roles/master_install/tests/inventory
inventory
linux/roles/proxmox/.terraform.lock.hcl
linux/roles/proxmox/.terraform.lock.hcl
linux/roles/proxmox/.terraform/terraform.tfstate
linux/roles/proxmox/.terraform/modules/modules.json
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/aequitas/transip/0.1.22/linux_amd64/README.md
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/aequitas/transip/0.1.22/linux_amd64/terraform-provider-transip_v0.1.22
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/CHANGELOG.rst
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/LICENSE
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/README.md
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/terraform-provider-ansible_v1.3.0
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/changelogs/changelog.yaml
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/changelogs/config.yaml
linux/roles/proxmox/.terraform/providers/registry.opentofu.org/ansible/ansible/1.3.0/linux_amd64/changelogs/fragments/.keep
linux/roles/tailscale_inventory
linux/roles/inventories